@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", "sans-serif";
  height: 100%;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1491002052546-bf38f186af56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1083&q=80");
  margin: 0;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* event title -start- */
h1 {
  width: 100%;
  font-weight: normal;
  font-size: 3rem;
  margin-top: 8rem;
  text-align: center;
}
/* event title -end- */

/* clock -st-art */

.counter-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.counter-item {
  text-align: center;
}

.counter-item span {
  font-size: 1.5rem;
}
/* clock -st-art */

/* body background transformation -start-*/
body.forward {
  background-image: url("https://images.unsplash.com/photo-1491929007750-dce8ba76e610?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80");

  transition: background-image 1s linear;
}

body.backward {
  background-image: url("https://images.unsplash.com/photo-1491002052546-bf38f186af56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1083&q=80");

  transition: background-image 1s linear;
}

/* body background transformation -end-*/

/* search box -start- */
.search-box {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 9vh;
  width: 25vw;
  border-radius: 80px;
  padding: 0 0 0 10px;
  transition: all 0.3s ease-in-out;
}

.search-btn {
  float: right;
  width: 4vw;
  height: 8vh;
  border-radius: 50%;
  background: none;
  display: flex;
  background: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.search-btn > i {
  font-size: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0 0 0 10px;
  color: white;
  font-size: 1.5rem;
  line-height: 8vh;
  width: 20vw;
  transition: all 0.3s ease-in-out;
}

/* search box -end- */

/* search box transitions -start- */

.search-box:hover > .search-txt {
  transition: all 0.3s ease-in-out;
  width: 38vw;
}

.search-box:hover {
  width: auto;
  box-shadow: 0 0 8px grey;
  border: 1px solid grey;
}

.search-box:hover > .search-btn {
  text-shadow: 0 0 8px grey;
}
.search-box:hover > .search-txt {
  text-shadow: 0 0 8px grey;
}
/* search box transitions -start- */
